<div style="margin: 20px;">
  <form [formGroup]="formData" (ngSubmit)="onSubmit()" style="flex-direction: row;">
    <input type="text" formControlName="name" placeholder="Add Name"/>
    <div *ngIf="formData.get('name')?.touched && formData.get('name')?.invalid && formData.get('name')?.errors" >
      <span style="color: red;">{{ formData.get('name')?.errors}}</span>
    </div>
    <button style="margin-left: 5px;" type="submit" [disabled]="!formData.valid">Add</button>
  </form>
  <ul>
    <li *ngFor="let name of names; let i = index" style="margin-top: 10px;">
        <span style="padding: 2px;">{{ name }}</span>
        <button type="button" [disabled]="name == 'admin'" style="background-color: red; color: white; margin-left: 5px;" (click)="onDeleteName(i)">Delete</button>
    </li>
  </ul>
</div>